{% extends 'layout.html' %} {% block body %}
<br /><br />
<div class="container">
  <div class="input-group">
    <label for="formFile" class="form-label w-100">Encode tất cả dataset mới</label>
    <select class="form-select" name="detect_face_method" required id="selectDetectFaceMethodForEncodeFaces">
      <option value="" disabled selected>Chọn phương thức detect face</option>
      <option value="hog">HOG</option>
      <option value="cnn">CNN</option>
    </select>
    <button type="button" class="btn btn-outline-secondary" id="encodeFacesBtn">
      Encode cho tất cả dataset mới
    </button>
  </div>

  <br /><br />
  <div class="input-group">
    <label for="formFile" class="form-label w-100">Chọn người để encode dataset</label>
    <select class="form-select" name="person_id" required id="selectIdForEncodeFace">
      <option value="" disabled selected>Chọn người</option>
    </select>
    <select class="form-select" name="detect_face_method" required id="selectDetectFaceMethodForEncodeFace">
      <option value="" disabled selected>Chọn phương thức detect face</option>
      <option value="hog">HOG</option>
      <option value="cnn">CNN</option>
    </select>
    <button type="button" class="btn btn-outline-secondary" id="encodeFaceBtn">
      Encode cho dataset của người đã chọn
    </button>
  </div>

  <br /><br />
  <form action="#" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <label for="formFile" class="form-label w-100">Chọn file ảnh để chấm công người đã chọn</label>
      <input type="file" class="form-control" name="image_name" required id="formFile" />
      <select class="form-select" name="person_id" required id="selectIdForCheckAttendance">
        <option value="" disabled selected>Chọn người</option>
      </select>
      <select class="form-select" name="detect_face_method" required id="selectDetectFaceMethodForCheckAttendance">
        <option value="" disabled selected>Chọn phương thức detect face</option>
        <option value="hog">HOG</option>
        <option value="cnn">CNN</option>
      </select>
      <input type="submit" value="Tải lên" class="btn btn-outline-secondary" />
    </div>
  </form>
</div>

{% if upload %}
<div class="container">
  <br /><br />
  <table>
    <tr>
      <td>
        <img class="rounded float-left img-fluid" src="/static/img/upload/{{ upload_image }}" alt="" />
      </td>
      <td>
        <img class="rounded float-right img-fluid"
          src="/static/img/face-detect-and-recognition/predict/{{ upload_image }}" alt="" />
      </td>
    </tr>
  </table>
  <br />
  <div style="border: solid black; width: 100%; padding: 10px;">
    <div>Xác nhận chấm công = {{ isConfirmAttendance }}</div>
    <div>Id người = {{ person_id }}</div>
    <div>Phần trăm giống = {{ percent_similarity }} %</div>
  </div>
</div>

{% endif %} {% endblock %}