{% extends 'layout.html' %} {% block body %}
<br /><br />
<div class="container">
  <button type="button" class="btn btn-outline-secondary" id="encodeFacesBtn">
    Encode cho tất cả dataset mới
  </button>

  <br /><br />
  <div class="input-group">
    <label for="formFile" class="form-label w-100">Chọn người để encode dataset</label>
    <select class="form-select" name="person_id" required id="selectIdForEncodeDataset">
      <option value="" disabled selected>Chọn người</option>
    </select>
    <button type="button" class="btn btn-outline-secondary" id="encodeFaceBtn">
      Encode cho dataset của người đã chọn
    </button>
  </div>

  <br /><br />
  <form action="#" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <label for="formFile" class="form-label w-100">Chọn file ảnh để chấm công người đã chọn</label>
      <input type="file" class="form-control" name="image_name" required id="formFile" />
      <select class="form-select" name="person_id" required id="selectIdForCheckAttendance">
        <option value="" disabled selected>Chọn người</option>
      </select>
      <input type="submit" value="Tải lên" class="btn btn-outline-secondary" />
    </div>
  </form>
</div>

{% if upload %}
<div class="container">
  <br /><br />
  <table>
    <tr>
      <td>
        <img class="rounded float-left img-fluid" src="/static/img/upload/{{ upload_image }}" alt="" />
      </td>
      <td>
        <img class="rounded float-right img-fluid"
          src="/static/img/face-detect-and-recognition/predict/{{ upload_image }}" alt="" />
      </td>
    </tr>
  </table>
  <br />
  <table style="border: solid black; width: 100%">
    <tr style="border: solid black">
      <th>Xác nhận chấm công = {{ isConfirmAttendance }}</th>
    </tr>
  </table>
</div>

{% endif %} {% endblock %}